.heroes {
  list-style: none;
  padding: 0;
  width: 250px;
}

.heroes li {
  margin: 6px 0;
}

.heroes a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
}

.heroes a:hover {
  background-color: #cfd8dc;
}
